<div class="container">
  <% unless notice.blank? %>
    <div class="alert alert-success" role="alert">
      <%= notice %>
    </div>
  <% end %>

  <div class="row">
    <h1>Color Schemes</h1>
  </div>

  <br>

  <% display = Scheme.all.reverse %>
    <% display.each do |scheme| %>
      <% if scheme.private && !scheme.users.include?(current_user) %>
        <% display.delete scheme %>
      <% end %>
    <% end %>
  <% display.first(8).each_slice(4).to_a.each do |scheme_arr| %>
    <div class="row">
      <% scheme_arr.each do |scheme| %>
        <div class="col-sm-3">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-title">
                <%= link_to scheme.name, scheme %>
              </div>
            </div>

            <div class="panel-body colors">
              <% scheme.colors.each do |color| %>
                <div class="well small" data-toggle="tooltip" data-placement="bottom" title data-original-title="<%= color.name.upcase %>" style="background-color: <%= color.name.upcase %>;"></div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

</div>
