<div class="container">
  <div class="col-sm-6 col-sm-push-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          Sign Up for Schema
        </div>
      </div>

      <div class="panel-body">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
