<div class="container">
  <% if logged_in? %>
    <div class="alert alert-info" role="alert">
      Hi <%= current_user.name %>!
    </div>
  <% end %>

  <div class="row">
    <h1>Welcome to Schema</h1>
  </div>
</div>
