<div class="container-fluid">
  <div class="row">
    <h1>Welcome to Schema</h1>
  </div>
  <% if logged_in? %>
    <div class="row">
      <h4>Hi <%= current_user.name %>!</h4>
    </div>
  <% end %>
  <div class="row">
  </div>
</div>
