body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  text-decoration: none;

  &:hover, &:active, &:focus {
    color: #7100D3;
    text-decoration: none;
  }
}

.navbar-logo {
  width: 100px;
}

.col-sm-2 {
  padding: 0px;

  .well-lg {
    height: 200px;
  }
}

.well.small {
  margin: 0px;
}

.row.colors {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 0px;

  .col-sm-2 {
    padding-bottom: 0px;

    .well {
      margin-bottom: 10px;
    }
  }
}

.panel-body.outer {
  padding-bottom: 0px;
}

.form-label {
  font-size: 14px;
  font-weight: bold;
}

#notice {
  color: green;
}

#error {
  color: red;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}
